@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


:root {
  --primary: 2 100% 60%; /* Airbnb-like red */
  --primary-foreground: 0 0% 100%;
  
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  
  --accent: 2 100% 94%;
  --accent-foreground: 2 100% 60%;
  
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 2 100% 60%;
  
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5); /* Dots color */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.8); /* Active dot color */
}
